DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/database_name

JWT_SECRET_KEY=replace-with-a-long-secret-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

APP_NAME=Customer360 API
APP_VERSION=0.4.0
DEBUG=true